
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,400;0,500;1,300;1,600&family=Roboto:wght@400;500&family=Tektur&display=swap');
html {
  height: 100%;
  width: 100%;
font-family: 'Montserrat', sans-serif;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}
.row{
  margin: 8px 0;
}
.row-input{
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
  
}